.avatar
  flex: none
  display: grid
  place-items: center
  overflow: hidden
  position: relative
  user-select: none
  width: 48px
  height: 48px
  margin-block: -24px

.image
  display: block
  max-width: none
