.message
  display: flex
  align-items: flex-start

  &[data-side=ours]
    flex-direction: row-reverse

.avatarSpacer
  flex: none
  width: 48px
  height: 48px

.content
  display: flex
  flex-direction: column
  gap: 3px
  min-width: 0
  max-width: 100%

  &[data-side=ours]
    align-items: flex-end

.name
  // padding-inline: 4px
  font-weight: 200
  font-size: 20px
  height: 34px
  margin-inline: 16px
  align-content: center

.bubble
  display: flex
  flex-direction: column
  gap: 10px
  padding: 10px 14px
  border-radius: 16px
  overflow: hidden
  min-width: 0
  max-width: 100%
  text-align: start

  &[data-side=theirs]
    border-top-left-radius: 3px

  &[data-side=ours]
    border-top-right-radius: 3px

  &[data-joins-next=true]
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0

  &[data-joins-previous=true]
    border-top-left-radius: 0
    border-top-right-radius: 0

